{{ partial "header.html" . }}
<style>
:root {
{{- if .Params.color }}
--project-color: {{ .Params.color }};  
{{ else }}
--project-color: #af6ee2;
} {{ end -}}
</style>
<article class="post post-view">
    <header class="post-header">
        <div class="header-text bigpad wrap">

            <h1 class="page-title lh-title XXL {{with .Params.subtitle}}with-subtitle{{end}}" {{- if .Params.color }}style="color: {{ .Params.color }}"{{ end }}>
            {{ if .Params.link }}<a href="{{ .Params.link }}" target="_blank" alt="{{ .Title }}">{{ .Title }}</a>{{else}}{{ .Title }}{{end }}{{ with .Params.subtitle}}: <span class="page-sub-title">{{ . }}</span>{{end}}
            </h1>

            <p class="post-blurb M f-900 lh-short">
                {{ .Params.blurb }}
            </p>

        </div>
        {{with .Params.emoji}}
        <span class="XXL emoji lh-title">{{ . }}</span>
        {{end}}
    </header>

    <section class="post-content wrap bigpad">
        {{ if not .Params.hide_meta }}
            <div class="post-meta XS">
                {{- if or .Params.author .Site.Params.author -}}
                {{ .Params.author | default .Site.Params.author }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ end }}
                {{- .Date.Format "January 2006" -}}
                {{ if .Params.link }}
                &nbsp;&nbsp;·&nbsp;&nbsp;<a href="{{ .Params.link }}" target="_blank" alt="{{ .Title }}">Visit the Site &rsaquo;</a>
                {{end}}
            </div>
            {{ end }}

        {{ .Content }}

        {{ if isset .Params "stats" }}

        <h2 style="margin-top:3em">Some of My Fav Stats</h2>
        <p>
            Calculated using a mix of methods (and generally underrepresented due to limitations), here's what <strong>{{if .Params.link }}<a href="{{ .Params.link }}" alt="{{ .Params.title }}">{{ .Params.title }}</a>{{else}}{{ .Params.title }}{{end}}</strong> looks like by the numbers:
        </p>

        <table class="reveal">
            <thead>
                <tr>
                    <th align="left">Statistic</th>
                    <th align="right">
                    {{ if isset .Params.stats "updated" }}
                        <span class="tooltip" data-tooltip="Updated {{ .Params.stats.updated }}">
                            Last Count
                        </span>
                    {{ else }}
                        Last Count
                    {{ end }}
                    </th>

                </tr>
            </thead>

            <tbody>
                {{ with .Params.stats.curriculum_downloads }}
                <tr>
                    <td align="left">Educators Using Curriculum</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end}}
                {{ with .Params.stats.downloads }}
                <tr>
                    <td align="left">Resource Downloads</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end}}
                {{ with .Params.stats.copies_gifted }}
                <tr>
                    <td align="left">Copies Gifted</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end}}
                {{ with .Params.stats.monthly_uniques }}
                <tr>
                    <td align="left">Montly Unique Visitors</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end }}
                {{ with .Params.stats.country_count }}
                <tr>
                    <td align="left">Countries Reached</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end }}
                {{ with .Params.stats.annual_audience }}
                <tr>
                    <td align="left">Annual Audience</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end }}
                {{ with .Params.stats.lifetime_reach }}
                <tr>
                    <td align="left">Lifetime Reach</td>
                    <td align="right">{{ lang.NumFmt 0 . }}<span>+</span></td>
                </tr>
                {{end }}
                {{ if .Params.stats.custom_stat }}
                <tr>
                    <td align="left">{{ .Params.stats.custom_stat}}</td>
                    <td align="right">{{ lang.NumFmt 0 .Params.stats.custom_count}}</td>
                </tr>
                {{end }}

            </tbody>
        </table>

        {{end}}

    </section>
    {{ if .Params.tags }}
    <footer class="post-footer bigpad cards">
        <div class="intro">
            <h2 class="M f-900 title">Explore</h2>
            <p>Themes and skills I used to create <strong>{{if .Params.link }}<a href="{{ .Params.link }}" alt="{{ .Params.title }}">{{ .Params.title }}</a>{{else}}{{ .Params.title }}{{end}}</strong>, that are clickable links to similar work</p>
        </div>
        <div class="card">
            <h3 class="title S">🏷 Content themes</h3>
            <ul class="post-tags">
                {{ range .Params.tags }}
                <li><a href="{{ `/tags/` }}{{ . | urlize }}/">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ if .Params.skills }}
        <div class="card">
            <h3 class="title S">🎩 Hats I wore</h3>
            <ul class="post-tags">
                {{ range .Params.skills }}
                <li><a href="{{ `/skills/` }}{{ . | urlize }}/">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </footer>
    {{ end }}


    {{ partial "mailing-list.html" }}
</article>
<!-- <section id="more-work" class="relative bg-grey-100">
    <div class="carousel">
        <h2 class="vertical-header S serif lh-title">Recent Work</h2>
        {{ range first 10 (where .Site.Pages "Section" "work" ) }}
            {{ partial "card-post.html" . }}
        {{ end }}
        <article class="bigpad view-all serif">
            <a href="{{ `/` }}work" title="View More Work"><strong>View more work &xrarr;</strong></a>
        </article>
    </div>
</section> -->

{{ partial "footer.html" . }}
