<article class="post card-entry rounded">

    <header class="pad post-header" {{ if .Params.color }} style="background: {{ .Params.color }}"{{ end }}>
        {{if .Params.emoji}}
        <div class="emoji">
            <a href="{{ .Permalink }}" title="Read about {{ .Title }}">{{ .Params.emoji }}</a>
        </div>
        {{end}}
    </header>

    <section class="post-body lh-short">
        <div>
            <h3 class="f-900 post-title M">
                <a href="{{ .Permalink }}" title="Read about {{ .Title }}">{{ .Title }}</a>
            </h3>
            <p class="post-summary S grey-700">
                {{ .Params.blurb }}
            </p>
        </div>
        <p class="post-meta XS grey-500">
            {{- .Date.Format "January 2006" -}}
        </p>
    </section>

    <a class="post-link" href="{{ .Permalink }}" title="Read about {{ .Title }}" rel="bookmark"></a>

</article>
