</main>
<footer class="footer">
    <div class="footer--inner bigpad">
        <div class="grid centered">
            <div class="unit reveal">
                <h3>Navigate</h3>
                <ul>
                    <li>
                        <a href="/about/" title="About Sam Killermann">About</a>
                    </li>
                    <li>
                        <a href="/now/" title="What Sam Killermann doing Now">Now</a>
                    </li>
                    <li>
                        <a href="/bio/" title="Sam Killermann Biography">Bio</a>
                    </li>
                    <li>
                        <a href="/work/" title="Sam Killermann Biography">Work</a>
                    </li>
                    <li>
                        <a href="/links/#professional-links-for-potential-clients-bookings-etc" title="Professional Links">Potential Client Links →</a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-2">
                <h3>Social</h3>
                <ul>
                    <li>
                        <a href="https://app.convertkit.com/landing_pages/402557?v=7" title="Sam Killermann Instagram">Email List</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/Killermann" title="Sam Killermann Instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/Killermann" title="Sam Killermann Twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="http://facebook.com/SamKillermann" title="Sam Killermann Facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/links/#socializing" title="Sam Killermann Social">
                            All Social Links →
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-3">
                <h3>Work</h3>
                <ul>
                    <li>
                        <a href="/work/safe-zone-project/" title="The Safe Zone Project">
                            The Safe Zone Project
                        </a>
                    </li>
                    <li>
                        <a href="/work/ted-x-talk-understanding-the-complexities-of-gender/" title="Sam Killermann Gender TEDxTalk">
                            Gender TEDxTalk
                        </a>
                    </li>
                    <li>
                        <a href="/work/guide-to-gender/" title="Sam Killermann Gender Book">
                            A Guide to Gender
                        </a>
                    </li>
                    <li>
                        <a href="/work/genderbread-person/" title="">
                            Genderbread Person
                        </a>
                    </li>
                    <li>
                        <a href="/work/" title="Sam Killermann Social">
                            All Work →
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-4">
                <h3>Support Me</h3>
                <ul>
                    <li>
                        <a href="https://patreon.com/killermann" title="Sam Killermann Patreon">
                            Become my Patron
                        </a>
                    </li>
                    <li>
                        <a href="http://itspronouncedmetrosexual.com/donate/" title="IPM Server Fund">
                            IPM Server Fund
                        </a>
                    </li>
                    <li>
                        <a href="https://thesafezoneproject.com/help/#Donate_Dollars" title="Donate to Safe Zone Project">
                            Donate to the SZP
                        </a>
                    </li>
                    <li>
                        <a href="http://www.venmo.com/Killermann" title="Sam Killermann Venmo">
                            Venmo Me @Killermann
                        </a>
                    </li>
                    <li>
                        <a href="https://ko-fi.com/killermann" title="@Killermann on Ko-Fi.com">
                            Buy me a Coffee ☕️
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/grid-->
        <div id="footer--about">
            <h3>
                About this Site
            </h3>
            <p>
                This site, Samuel Killermann Curriculum Vitae, is an open-source project built on open source projects. View it on <a href="http://github.com/killermann/samuel-killermann-curriculum-vitae" title="Samuel Killermann Curriculum Vitae">Github</a> to see how I made it, or to copy it and customize it for your own CV.
            </p>
        </div>
        <!-- <span>&copy; {{ if eq now.Year 2017 }}2017{{ else }}2017-{{ now.Year }}{{ end }} {{ .Site.Title }} 🎉</span>
        <span>&middot;</span>
        <span>Powered by <a href="https://gohugo.io/" target="_blank">Hugo❤️️</a></span>
        <span>&middot;</span>
        <span>Designed by <a href="http://21beats.com/" target="_blank">️21beats⚡️</a></span> -->
    </div>
</footer>
<script src="{{ "js/scripts-dist.js" | absURL }}"></script>
<script data-no-instant>InstantClick.init();</script>
</body>
</html>
