</main>
<footer class="footer">
    <div class="footer--inner bigpad">
        <div class="grid centered">
            <div class="unit reveal">
                <h3>Navigate</h3>
                <ul>
                    <li>
                        <a href="https://samuelkillermann.com/about/" alt="About Sam Killermann">About</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/now/" alt="What Sam Killermann doing Now">Now</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/bio/" alt="Sam Killermann Biography">Bio</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/work/" alt="Sam Killermann Biography">Work</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/links/#professional-links-for-potential-clients-bookings-etc" alt="Professional Links">Potential Client Links →</a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-2">
                <h3>Social</h3>
                <ul>
                    <li>
                        <a href="https://app.convertkit.com/landing_pages/402557?v=7" alt="Sam Killermann Instagram">Email List</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/Killermann" alt="Sam Killermann Instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/Killermann" alt="Sam Killermann Twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="http://facebook.com/SamKillermann" alt="Sam Killermann Facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/links/#socializing" alt="Sam Killermann Social">
                            All Social Links →
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-3">
                <h3>Work</h3>
                <ul>
                    <li>
                        <a href="https://samuelkillermann.com/work/safe-zone-project/" alt="The Safe Zone Project">
                            The Safe Zone Project
                        </a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/work/ted-x-talk-understanding-the-complexities-of-gender/" alt="Sam Killermann Gender TEDxTalk">
                            Gender TEDxTalk
                        </a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/work/guide-to-gender/" alt="Sam Killermann Gender Book">
                            A Guide to Gender
                        </a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/work/genderbread-person/" alt="">
                            Genderbread Person
                        </a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/work/" alt="Sam Killermann Social">
                            All Work →
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-4">
                <h3>Support Me</h3>
                <ul>
                    <li>
                        <a href="https://patreon.com/killermann" alt="Sam Killermann Patreon">
                            Membership / Patreon
                        </a>
                    </li>
                    <li>
                        <a href="http://itspronouncedmetrosexual.com/donate/" alt="IPM Server Fund">
                            IPM Server Fund
                        </a>
                    </li>
                    <li>
                        <a href="https://hues.xyz" alt="The hues Store">
                            The hues Store
                        </a>
                    </li>
                    <li>
                        <a href="http://thesafezoneproject.com/get-involved/" alt="SZP Volunteer Opportunities">
                            Volunteer for SZP
                        </a>
                    </li>
                    <li>
                        <a href="http://www.venmo.com/Killermann" alt="Sam Killermann Venmo">
                            Venmo me a Coffee ☕️
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--/grid-->
        <div id="footer--about">
            <h3>
                About this Site
            </h3>
            <p>
                This site, Samuel Killermann Curriculum Vitae, is an open-source project built on open source projects. View it on <a href="http://github.com/killermann/samuel-killermann-curriculum-vitae" alt="Samuel Killermann Curriculum Vitae">Github</a> to see how I made it, or to copy it and customize it for your own CV.
            </p>
        </div>
        <!-- <span>&copy; {{ if eq now.Year 2017 }}2017{{ else }}2017-{{ now.Year }}{{ end }} {{ .Site.Title }} 🎉</span>
        <span>&middot;</span>
        <span>Powered by <a href="https://gohugo.io/" target="_blank">Hugo❤️️</a></span>
        <span>&middot;</span>
        <span>Designed by <a href="http://21beats.com/" target="_blank">️21beats⚡️</a></span> -->
    </div>
</footer>
<script src="{{ "js/scripts-dist.js" | absURL }}"></script>
</body>
</html>
