</main>
<footer class="footer">
    <div class="footer--inner">
        <a class="site-logo" href="{{ `/` }}" title="Home" aria-label="Home">
            <svg id="heart-sK" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 67">
            <path class="icon-heart" d="M22 36s-1-9-10-12-13 3-3 16 15 24 14 14-1-33 11-44c9-9 17-5 16 8 0 15-20 37-20 37" {{ if (isset .Params "color") }} stroke="{{ .Params.color }}" {{ else }} stroke="currentColor" {{ end }} fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            <path class="icon-sK" d="M63 36a15 15 0 0 0-11-5c-8-1-14 6 2 18s-19 22-12 5c4-8 17-19 23-30 7-13 10-27 8-19-3 15-3 55-3 52 4-22 34-53 31-51S69 35 75 34s54-13 56-10" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
            </svg>
        </a>
        <div class="grid">
            <div class="unit reveal">
                <h3>Browse</h3>
                <ul>
                    <li>
                        <a href="/about/" title="About Sam Killermann">About Sam Killermann</a>
                    </li>
                    <li>
                        <a href="/now/" title="What Sam Killermann doing Now">What am I doing now?</a>
                    </li>
                    <li>
                        <a href="/bio/" title="Sam Killermann Biography">Biography</a>
                    </li>
                    <li>
                        <a href="/work/" title="Sam Killermann Work">Selection of Work</a>
                    </li>
                    <li>
                        <a href="/links/#professional-links-for-potential-clients-bookings-etc" title="Professional Links">Potential Client Links</a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-2">
                <h3>Socialize</h3>
                <ul>
                    <li>
                        <a href="https://app.convertkit.com/landing_pages/402557?v=7" title="Sam Killermann Mailing List">sK Mailing List</a>
                    </li>
                    <li>
                        <a href="http://instagram.com/Killermann" title="Sam Killermann Instagram">Instagram @Killermann</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/Killermann" title="Sam Killermann Twitter">Twitter @Killermann</a>
                    </li>
                    <li>
                        <a href="http://facebook.com/SamKillermann" title="Sam Killermann Facebook">Facebook Fan Page</a>
                    </li>
                    <li>
                        <a href="https://samuelkillermann.com/links/#socializing" title="Sam Killermann Social">
                            All Social Links &rsaquo;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-3">
                <h3>Featured Work</h3>
                <ul>
                    <li>
                        <a href="/work/safe-zone-project/" title="The Safe Zone Project">
                            The Safe Zone Project
                        </a>
                    </li>
                    <li>
                        <a href="/work/ted-x-talk-understanding-the-complexities-of-gender/" title="Sam Killermann Gender TEDxTalk">
                            Gender TEDxTalk
                        </a>
                    </li>
                    <li>
                        <a href="/work/guide-to-gender/" title="Sam Killermann Gender Book">
                            A Guide to Gender
                        </a>
                    </li>
                    <li>
                        <a href="/work/genderbread-person/" title="">
                            Genderbread Person
                        </a>
                    </li>
                    <li>
                        <a href="/work/" title="Sam Killermann Social">
                            All Work &rsaquo;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-4">
                <h3>Support Me</h3>
                <ul>
                    <li>
                        <a href="https://patreon.com/killermann" title="Sam Killermann Patreon">
                            Become my Patron
                        </a>
                    </li>
                    <li>
                        <a href="http://itspronouncedmetrosexual.com/donate/" title="IPM Server Fund">
                            IPM Server Fund
                        </a>
                    </li>
                    <li>
                        <a href="https://thesafezoneproject.com/help/#Donate_Dollars" title="Donate to Safe Zone Project">
                            Donate to the SZP
                        </a>
                    </li>
                    <li>
                        <a href="http://www.venmo.com/Killermann" title="Sam Killermann Venmo">
                            Venmo Me @Killermann
                        </a>
                    </li>
                    <li>
                        <a href="https://ko-fi.com/killermann" title="@Killermann on Ko-Fi.com">
                            Buy me a Coffee ☕️
                        </a>
                    </li>
                </ul>
            </div>
            <div class="unit reveal-4"id="footer--about">
                <h3>
                    About this Site
                </h3>
                <p>
                    This site, Samuel Killermann Curriculum Vitae, is an open-source project built on open source projects. View it on <a href="http://github.com/killermann/samuel-killermann-curriculum-vitae" title="Samuel Killermann Curriculum Vitae">Github</a> to see how I made it, or to copy it and customize it for your own CV.
                </p>
            </div>
        </div><!--/grid-->
    </div>
</footer>
<script async src="{{ "js/scripts-dist.js" | absURL }}"></script>
</body>
</html>
