{{ partial "header.html" . }}

<header id="home-welcome" class="hero bigpad">
    <div class="header-text">
        <h1 class="page-title XXL">Sam<br/> Killermann</h1>
        <h2 class="page-sub-title L purple-300">Activist. Artist. Author.</h2>
        <p class="page-blurb lh-short M purple-500">
            I create art, tools, and resources for global justice.
        </p>
    </div>
    <div id="TEDxTalk">
        <div class="youtube rounded" data-embed="NRcPXtqdKjE">
            <div class="play-button purple-300">
                <svg aria-hidden="true" data-prefix="fal" data-icon="play-circle" class="svg-inline--fa fa-play-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zM40 256c0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216zm331.7-18l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM192 335.8V176.9c0-4.7 5.1-7.6 9.1-5.1l134.5 81.7c3.9 2.4 3.8 8.1-.1 10.3L201 341c-4 2.3-9-.6-9-5.2z"></path></svg>
            </div>
        </div>
    </div>
</header>
<section id="home-brief" class="bg-grey-100 rounded overlapper">
    <p class="M f-900 lh-title">
        My life's work is <span class="grey-700">websites, books, curricula, edugraphics, comics, courses, keynotes, and comedy shows that teach people about social justice, gender, and sexuality.</span> <a class="purple-700" href="{{ `/` }}now" title="Read what I'm up to right now.">Read what I'm up to right now 👉</a>
    </p>
    <div class="fishbowl mobileHide">
        <div class="fishbowl--inner"></div>
    </div>
</section>
<section id="featured-work" class="relative bigpad">
    <h2 class="vertical-header S serif mobileHide">💼 &nbsp;&nbsp;Featured Work</h2>
    {{ range where .Data.Pages "Section" "work"  }}
        {{ if .Params.featured }}
            {{ partial "featured-post.html" . }}
        {{ end }}
    {{ end }}
</section>

{{ partial "mailing-list.html" }}

<section id="more-work" class="relative bg-grey-100">
    <div class="carousel">
        <h2 class="vertical-header S serif lh-title">Recent Work</h2>
        {{ range first 10 (where .Data.Pages "Section" "work" ) }}
            {{ if not ( .Params.featured ) }}
                {{ partial "card-post.html" . }}
            {{ end }}
        {{ end }}
        <article class="bigpad view-all serif">
            <a href="{{ `/` }}work" title="View all Work"><strong>View all work &xrarr;</strong></a>
        </article>
    </div>
</section>


<!-- <section id="homeBentos" class="clearfix">
    <article id="home--intro" class="bento left">
        <header>
            <h1>
                Sam<del>uel</del> Killerman<u>n</u>'s<br/>
                <span>Curriculum Vitae</span>
            </h1>
        </header>
        <nav>
            <ul>
                {{ range .Site.Menus.main }}
                <li class="">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        {{.Content}}
    </article>

    <article id="home--work" class="bento reveal right">

        {{ range first 1 (where .Data.Pages "Section" "work") }}
            <article class="post first-entry">
                <header class="post-header">
                    {{if .Params.emoji}}<span class="emoji">{{ .Params.emoji }}</span>{{end}}
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <p class="post-summary">{{if isset .Params "blurb"}}{{.Params.blurb}}{{else}}{{ .Summary | plainify | htmlUnescape }}...{{end}}</p>
                <footer class="post-footer">
                    <p class="post-meta">
                        {{- if or .Params.author .Site.Params.author -}}
                        {{ .Params.author | default .Site.Params.author }} · {{ end }}
                        {{ .Date.Format "January 2006" }}
                    </p>
                </footer>
                <a class="post-link" href="{{ .Permalink }}"></a>
            </article>
        {{ end }}
        {{ range first 3 (after 1 ( where .Data.Pages "Section" "work") ) }}
            <article class="post post-entry">
                <header class="post-header">
                    {{if .Params.emoji}}<span class="emoji">{{ .Params.emoji }}</span>{{end}}
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <p class="post-summary">{{if isset .Params "blurb"}}{{.Params.blurb}}{{else}}{{ .Summary | plainify | htmlUnescape }}...{{end}}</p>
                <footer class="post-footer">
                    <p class="post-meta">
                        {{- if or .Params.author .Site.Params.author -}}
                        {{ .Date.Format "January 2006" }} ·
                        {{ .Params.author | default .Site.Params.author }}
                        {{ end }}
                    </p>
                </footer>
                <a class="post-link" href="{{ .Permalink }}"></a>
            </article>
        {{ end }}
        <a href="work/" alt="View All Work" id="all-work">View All 👉</a>
    </article>

    <article id="home--email" class="left">
        <div class="fishbowl gradient-alt">
            <div class="fishbowl--inner">
                <h2>Digging what I'm doing?</h2>
                <p>Sign up for my list and get an occasional email from me about something I think you'll love 👇</p>
                <script src="https://assets.convertkit.com/assets/CKJS4.js?v=21"></script>
            <div class="ck_form_container ck_inline" data-ck-version="7">
              <div class="ck_form ck_naked">
                  <div class="ck_form_fields">
                    <div id="ck_success_msg" style="display:none;">
                      <p>Got it. Look for an email from sK@hues.xyz in the coming months. I&#39;m excited to have you on the list!</p>
                    </div>

                        <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/393696/subscribe" data-remote="true">
                            <input type="hidden" value="{&quot;form_style&quot;:&quot;naked&quot;,&quot;converted_behavior&quot;:&quot;custom&quot;,&quot;days_no_show&quot;:&quot;15&quot;,&quot;delay_seconds&quot;:&quot;10&quot;,&quot;display_devices&quot;:&quot;all&quot;,&quot;display_position&quot;:&quot;br&quot;,&quot;embed_style&quot;:&quot;inline&quot;,&quot;embed_trigger&quot;:&quot;scroll_percentage&quot;,&quot;scroll_percentage&quot;:&quot;99&quot;}" id="ck_form_options">
                            <input type="hidden" name="id" value="393696" id="landing_page_id">
                            <input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">
                            <div class="ck_errorArea">
                            <div id="ck_error_msg" style="display:none">
                            <p>There was an error submitting your subscription. Please try again.</p>
                            </div>
                            </div>
                            <div class="ck_control_group ck_email_field_group">
                            <label class="ck_label" for="ck_emailField" style="display: none">Email</label>
                            <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" placeholder="First Name">
                            <input type="email" name="email" class="ck_email_address" id="ck_emailField" placeholder="Email" required>
                            </div>
                            <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
                            <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h" placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.">
                            </div>


                            <button class="subscribe_button ck_subscribe_button btn fields" id="ck_subscribe_button">
                            Subscribe
                            </button>
                        </form>
                    </div>

                    <div id="ck_converted_content" class="ck_converted_content"><h2>Want to support my work in a meaningful way?</h2>
                    <p>Become a supporting member at <a href="http://patreon.com/killermann" alt="Sam Killermann Patreon"> and get exclusive access to my <a href="http://samkillermann.com">blog</a>, pay-what-you-want pricing at <a href="http://hues.xyz">The hues Store</a>, and eternal gratitude from me.</p></div>
                    </div>

                </div>

            </div>
        </div>
    </article>

    <div class="clearfix"></div>

    <article id="home--now">
        <p class="dropCap">
            Are you curious what I'm up to right this very moment? Well, I have <em>just the thing for you</em>: my <a href="now/" alt="What I'm up to right now">"Now" page</a>, which is a more-frequently-updated sibling to the <a href="about/" alt="About Sam Killermann">"About" page</a>. That said, <strong>here's what I'm up to right now:</strong>
        </p>
        {{ range first 1 (where .Data.Pages "Section" "now") }}
            <article class="reveal">
                <header class="post-header">
                    {{if .Params.emoji}}<span class="emoji">{{ .Params.emoji }}</span>{{end}}
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
                <p class="post-summary">{{if isset .Params "blurb"}}{{.Params.blurb}}{{else}}{{ .Summary | plainify | htmlUnescape }}...{{end}}</p>
                <footer class="post-footer">
                    <p class="post-meta">
                        Posted {{ .Date.Format "January 2006" }}
                    </p>
                </footer>
                <a class="post-link" href="{{ .Permalink }}"></a>
            </article>
        {{ end }}
    </article>



</section> -->
{{ partial "footer.html" . }}
