:root {
	--sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--serif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
	--purple: #af6ee2;
    --blue: #5A9AB9;
    --grey: #5F6777;
    --red: #973459;
    --dark-grey: #191F23;
}

#instantclick-bar {
	background: #af6ee2;
}

a {
	outline-color: var(--purple);
}

.mobileHide {
	display: none;
}

.relative {
	position: relative;
}

.wrap {
	width: 1030px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}


.skip-nav {
    left:-9999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
	background-color: rgba(255,255,255,.0);
}

.skip-nav:focus, .skip-nav:active {
    color: #fff;
    background-color: white;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 1vw 35%;
    padding:5px;
    border-radius: 5px;
	text-decoration-color: none;
    border:4px solid var(--purple);
	color: black !important;
    text-align:center;
    font-size:1.2em;
    z-index:9999;
	outline-color: var(--yellow-300);
}



/* Form fields */

.ck_errorArea {
	display: none; /* temporary */
}

#ck_success_msg {
	padding: 30px;
	border: none;
	background: #fff;
	border-radius: 20px;
	color: #0d0018;
}

.ck_converted_content {
  	display: none;
}

/* max width 500 */

	.ck_form.ck_naked.width500 .ck_subscribe_button {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

	.ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
		width: 49%;
	}

	.ck_form.ck_naked.width500 input[type="email"] {
		margin-right: 0px;
		width: 50%;
	}

/* max width 400 */

	.ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

.ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
	min-width: 400px;
}

.page .ck_form.ck_naked {
	margin: 50px auto;
	max-width: 700px;
}


/* v6 */

.ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
  min-width: 0 !important;
}

.ck_form_v6 #ck_success_msg {
	padding: 0px 10px;
}

@media all and (max-width: 403px) {
  .ck_form_v6.ck_modal .ck_naked {
    padding-top: 30px;
  }
}

@media all and (max-width: 499px) {
  .ck_form_v6.ck_modal .ck_naked + .ck_close_link {
    color: #fff;
    top: 10px;
  }
}

.ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
  right: 10px;
  top: -5px;
}

@media all and (min-width: 600px) {
  .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
    right: 35px;
  }
}

.youtube {
    overflow:hidden;
    position: relative;
    padding-top: 56.25%;
    width:100%;
    overflow: hidden;
    cursor: pointer;

    iframe {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    /* For LazyLoad Script */

    img {
        width: 100%;
        top: -16.84%;
        left: 0;
        opacity: 0.20;
		filter: grayscale(100%);
    }

    img, .play-button {
        cursor: pointer;
    }

    img, iframe, .play-button {
        position:absolute;
    }

    .play-button {
        width: 80px;
        height: 80px;
        z-index: 1;
        opacity: 0.8;
        left:50%;
        top:50%;
        margin:-40px 0 0 -40px;
        border-radius: 6px;
        transition:color .2s ease-out;
    }

	&:hover .play-button {
		color: white;
	}
}

/**************************

		GENERAL

**************************/

::selection {
    color: white;
    background: var(--purple);
}

.button, a.button, .post-content a.button {
    color:#fff;
    border:0px;
    display:inline-block;
	text-decoration: none;
    padding:1em 1.3em;
	margin:auto .75em .75em auto;
	position:relative;
	@extend .gradient;
	border-radius:8px;
	background-attachment: fixed;
	text-shadow:0px 1px 1px rgba(0,0,0,.5);
	font-weight:900;
	letter-spacing:.05em;
	line-height:1.1;
	transition:all .1s ease;

	&:hover {
		background-color:var(--purple);
		@extend .gradient;
		transform:translateY(-4px);
		box-shadow: 0 6px 3px -2px rgba(0,0,0,.25);
	}

    &.blue, &.accent{
        background:var(--blue);;
    }
	&.red {
		background:var(--red);;
	}

	&.seafoam {
		background:#69e2de;
		color:#000;
		text-shadow:0px 1px 1px white;
	}
}


.hero {
	min-height: 100vh;
}

.overlapper {
	margin: 0 30px;
	transform: translate(0, -25%);

	p {
		padding: 30px;
		hyphens: auto;
		margin: 0;
	}
}


@media only screen and (min-width: 481px) {
	.overlapper {
		transform: translate(0, -50%);
	}
}

.badge {
	position:absolute;
	top:-16px;
	left:50%;
	color:#fff;
	padding:8px;
	z-index:100;
	font-size:16px;
	letter-spacing:1px;
	text-shadow:0px 1px 1px rgba(0,0,0,.5);
	border-radius:3px;
	line-height:1;
	transform: translate(-50%, 0);
}

.main {
	min-height: inherit;
}

$cubic: cubic-bezier(.64,.09,.08,1);


.tooltip {
	position: relative;
	border-bottom:2px dotted rgba(0,0,0,.5);
	cursor: help;

	&:after {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		content: attr(data-tooltip);
		padding: .5em 1em;
		top: 2em;
		left: 50%;
		transform: translateX(-50%) translateY(-2px);
		background: rgba(0,0,0,.8);
		font-weight:300;
		font-size:1rem;
		color: white;
		white-space: nowrap;
		z-index: 2;
		border-radius: 4px;
		transition: opacity 0.2s $cubic, transform 0.2s $cubic;
	}
	&:hover, &:active {
		&:after {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  transform: translateX(-50%) translateY(0);
		}
	}
}

.fishbowl {
	margin:0;

	.fishbowl--inner{
		text-align:center;
		background-image:url(../img/sK-logo-pattern-400.png);
		background-repeat:repeat;
		background-position:top left;
		animation: slide 18s linear infinite;
		color: white;

		h1, h2, p, a, .ck_form_container{
			max-width:540px;
			margin:3vw auto;
		}

		.L, .S {
			text-shadow: 0px 2px 4px rgba(0,0,0, .3);
		}

		h2, p {
			line-height:1.2;
			margin: 0 auto 2rem;
		}

		.ck_form_container {
			color: white;

			.ck_form_fields {
				background: none !important;
				padding: 5px !important;

				.ck_email_field_group {
					display:flex;
					flex-wrap:nowrap;

					input {
						width:48%;
						margin:0% ;
						background: rgba(white,.85);
						border-radius:10px;
						padding: .7em 0 .7em 1em;
						border: none;
						height: auto;
						line-height: 1.4;
						box-shadow:  0px 2px 4px rgba(0,0,0, .3);

						&:focus {
							border-color:var(--purple);
							background: white;
							box-shadow:  0px 0px 0px 3px var(--purple);
						}

						& + input {
							margin-left: 4% !important;
						}
					}
				}
			}
			.button {
				border-radius:10px;
				margin-top: 4%;
				height: auto;
				width: 100%;
				text-shadow: none;
				letter-spacing: .1em;
				font-weight: 900;
				padding: .7em 1em;
				line-height: 1.4;
				color: black;
				background: rgb(37, 200, 255);
				box-shadow:  0px 2px 4px rgba(0,0,0, .3);
				margin-bottom: 0px;
			}
		}

		.ck_converted_content {

			a {
				text-decoration: underline;

				&.button {
					text-decoration: none;
				}
			}
		}
	}
}

.carousel {
	margin:0 auto;
	display:flex;
	box-sizing:content-box;
	overflow-x:auto;
	padding: 60px;
	-webkit-overflow-scrolling:touch;
	-ms-scroll-snap-type: mandatory;
	scroll-snap-type: mandatory;

	.card-entry {
		scroll-snap-align: start;
		flex: none;
		margin-right: 3vw;
		margin-bottom: 0;
		hyphens: auto;
	}

	.vertical-header {
		left: 0;
		top: 80px;
		right: auto;
	}

	.view-all {
		width: 18em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/**************************

		HEADER

**************************/

.site-logo {
	display:block;
	width: 100px;
	height: 60px;
	padding: 15px;
	z-index: 9999;

	svg {
		display: block;
		height: 30px;
		width: 60px;
	}

	.icon-heart {
		@extend .purple-300;
	}

	.icon-sK {
		color: white;
	}

	&:hover {

		.icon-sK {
			animation: dash 2.5s linear alternate infinite;
			animation-delay: .75s;
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
		}

		.icon-heart {
			animation: dash 3s linear alternate infinite;
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
		}
	}
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}

#main-header {
	padding:0;
	height: 60px;
	display: flex;
	justify-content: space-between;
	z-index:5;
	transition:all .5s ease-out;
	position:fixed;
	z-index:500;
	top:0;
	width:100%;
	color: white;
}

.menu-toggle {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	height: 60px;
	display: block;
	width: 75px;
}

.menu-toggle::before,
.menu-toggle::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 2px;
	background: white;
	transition: .2s ease-out all;
}
.menu-toggle::before {
	transform: translate3d(-50%, -5px, 0);
}
.menu-toggle::after {
	transform: translate3d(-50%, 4px, 0);
}

.menu {
    position: absolute;
	background: rgba(#0d0018, .92);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
    width: 100vw;
    height: 0;
    z-index: 9998;
    overflow: hidden;
    transform: translateY(-120%);
	-webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) .8s transform;
    -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) .8s transform;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .8s transform;
}

.site-nav-wrap {
	margin-bottom: 3vw;
	transform: translateY(-120%);
	-webkit-transition: cubic-bezier(.16,.99,.21,1) 1.4s transform;
	-moz-transition: cubic-bezier(.16,.99,.21,1) 1.4s transform;
	transition: cubic-bezier(.16,.99,.21,1) 1.4s transform;

	h3 {
		margin-bottom: 1vw;
	}
}

.site-nav {
	list-style: none;
	margin: .5rem auto;

	a {
		display:block;
	}
}

#nav-featured-projects {

	.site-nav-item {
		position: relative;
		padding: 4px 20px;
		margin-bottom: 2vw;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.project-color {
		display: block;
		position: absolute;
		border-radius: 2px;
		width: 8px;
		left: 0;
		top: 0;
		bottom: 0;
		transition: .1s ease-out;
		z-index: -1;
	}

	a:hover, a:focus {
		.project-color {
			width: 12px;
		}
	}

}

#nav-site-pages, #nav-support, #nav-social {
	.site-nav {
		display: flex;
		overflow-x: scroll;

		.site-nav-item {
			margin-right: .5em;

			&:last-of-type {
				margin-right: non;
			}
		}
	}
}

#nav-social {
	a svg {
		width: 1em;
		height: 1em;
	}
}

.scrolled {

	#main-header {
		background: rgba(13,0,24,.85);
		box-shadow:0px 1px 12px 0px rgba(13,0,24,.3);
	}

	/* if backdrop support: very transparent and blurred */
	@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
		#main-header {
			background: rgba(#0d0018, .7);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}
	}
}

.noscroll {

	overflow: hidden;

	.menu-toggle::before {
		transform: translate3d(-50%, -1px, 0) rotateZ(45deg);
	}

	.menu-toggle::after {
		transform: translate3d(-50%, -1px, 0) rotateZ(-45deg);
	}

	.menu {
		position: fixed;
		transform: translateY(0%);
		padding: 60px 30px 30px;
		height: 100vh;
	}

	.site-nav-wrap {
		transform: translateY(0%);
	}
}



/**************************

		PAGE STYLES

**************************/

.page-title {
	color: #fff;
	font-weight: 900;
	margin-bottom: 1rem;
	hyphens: auto;
}

.page-sub-title {
	font-weight: 900;
	margin-bottom: 1rem;
}

.page-blurb {
	margin-bottom: 1rem;
}

.vertical-header {
	position: absolute;
	right: 0;
	top: .5em;
	line-height: 30px;
	writing-mode: vertical-rl;
}

/**************************

		HOME

**************************/

.home {

	.page-title {
		max-width: 30em;
	}
}

#home-welcome {
	background:#0d0018;
	padding-bottom: 100px;
	padding-top: 100px;
}

#TEDxTalk {
	margin-bottom: 50px;
	position: relative;

	&:after {
		font-size: 36px;
		letter-spacing: -0.05em;
		line-height: 1;
		content: "TED";
		position: absolute;
		display:block;
		bottom: 20px;
		right: 20px;
		color: rgb(240,43,30);
		font-weight: 900;
		z-index: 5;
	}

	iframe {
		z-index: 999;
	}
}

#featured-work {
	padding-top: 0;
	position: relative;
}

#more-work {
	position: relative;
}

/**************************

		LIST

**************************/

.list-header {
	background-color:#0d0018;
	color: white;
	padding: 70px 15px 0;

	.header-text {
		border-radius: 20px 20px 0 0;
		background-color: #2D084A;
		padding: 30px;
	}

	.post-blurb {
		margin-top: 1rem;
	}
}

.list-wrap {
	padding: 0 15px 15px;

	.list-contents {
		border-radius: 0 0 20px 20px;
		padding: 15px 15px 15px 30px;
	}
}

.featured-entry {
	padding: 0 30px;
	position: relative;

	.post-header {
		margin-bottom: 15px;

		.post-title {
			margin: 10px auto;
		}
	}

	p {
		margin-bottom: 15px;
	}

	.work-color {
		background: #333;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 30px;
		transform: translate(-100%, 0);
		border-radius: 0px 20px 20px 0;
		transition: all .2s ease-out;
	}

	& + .featured-entry {
		margin-top: 60px;
	}

	.emoji {
		font-size: 30px;
		text-align: center;
		position: absolute;
		left: -15px;
		z-index: 5;
		top: 50%;
		transform: translate(0, -50%);
	}

	.post-meta {
		a {
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
			& + a {
				margin-left: 3vw;
			}
		}
	}
}

.card-entry {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: stretch;
	background: white;
	margin-bottom: 30px;
	width: 18em;
	max-width: 100%;
	position: relative;
	transition: .075s ease-out;

	p {
		margin: 1em 0 0;
	}

	.post-header {
		background-color: #ccc;
		min-height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.post-body {
		flex-grow: 2;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.emoji {
		font-size: 30px;
	}

	.post-body {
		padding: 30px;
	}

	&:hover, &:focus {
		@extend .shadow-low;
	}
}


/**************************

		NOW

**************************/


#thens {
	position: relative;
	border-radius: 0 0 20px 20px;
}

.now-list-contents {
	padding: 0;
	border-radius: 0 0 20px 20px;

	.carousel {
		border-radius: 0 0 20px 20px;
	}
}

.now {
	position: relative;
	padding: 45px 30px;

	.emoji {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 5;
		transform: translate(-50%, -50%);

	}
    .post-title {
        span.date {
            font-size:.5em;
            opacity:.5;
            line-height:2;
            font-weight:300;
            display:block;
        }
    }
}

/**************************

		WORK

**************************/

.work--sample {
    margin:2em auto 0;

    &.desktop {
        position:relative;
        padding:30px 5px 5px;
        background:#ccc;
        border-radius:5px;
        margin-left:-25px;
        display:block;
        width:calc(100% + 50px);

        img {
            width:100%;
        }

        &:before {
            content:'';
            position:absolute;
            display:block;
            top:10px;
            left:10px;
            width:10px;
            height:10px;
            border-radius:10px;
            background:#fc625d;
        }

        &:after {
            content:'';
            position:absolute;
            display:block;
            top:10px;
            left:25px;
            width:10px;
            height:10px;
            border-radius:10px;
            background:#34c749;
        }

    }

    &.mobile {
        padding:28px 5px;
        border-radius:20px;
        background:#333;
        max-width:40%;
        position:relative;

        img {
            width:100%;
            height:auto;
            position:relative;
            z-index:2;
            border-radius:1px;
        }

        &:before {
            content:'';
            width:40px;
            height:4px;
            background:rgba(0,0,0,.5);
            border-radius:5px;
            top:12px;
            left:50%;
            margin-left:-20px;
            position:absolute;
        }

        &:after {
            content:'';
            border-radius:18px;
            z-index:1;
            top:2px;
            left:2px;
            width:calc(100% - 4px);
            height:calc(100% - 4px);
            position:absolute;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+0,0+100;White+to+Transparent */
            background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    }

	&.work-shadow {
		margin:2em auto 3em;

		img {
			@extend .shadow-high;
		}
	}

	&.video {
		background:#000;
		border-radius:3px;
		padding:3px;
	}

	.ultra-wide, &.ultra-wide {
		margin-left:-25px;
		max-width:calc(100% + 50px);
		width:calc(100% + 50px);
		height:auto;
	}

	.full-width {
		width:100%;
		height:auto;
	}
}

figcaption {
	font-family: var(--serif);
	font-size: .8em;
	margin: .5em auto;
	text-align: right;
	opacity: .7;
}

/**************************

		FOOTER

**************************/

footer.footer {
	@extend .gradient-alt;
	font-size:.8em;
	color:#fff;
	margin:0;
	padding:0;
	z-index:1;
	position:relative;
	text-align: left;

	h3 {
		font-family:var(--serif);
		font-size:1.2em;
		margin-bottom:.5em;
		color:#fff;
		letter-spacing:.04em;
		text-shadow:0px 1px 3px rgba(0,0,0,.5);
	}

	ul {
		list-style: none;
		margin:0;
		li {
			a {
				font-weight:bold;
				display:block;
				padding:.4em 0;
			}
		}
	}

	.grid {
		.unit {
			padding:2em;
		}
	}

}

.footer--inner {
	background-image:url(../img/sK-logo-pattern-400.png);
	background-repeat:repeat;
	background-position:top left;
	-webkit-animation: slide 30s linear infinite;
}

#footer--about {
	max-width:720px;
	padding:2em;
	margin:0 auto;

	a {
		font-weight:bold; 
		text-decoration: underline;
	}

	& + p {
		margin-bottom:1em;
	}
}
