.home {

	section#hero {
		display:flex;
		background-image:url(../img/sam-killermann-ted-x-youth-purple.jpg);
		background-size:cover;
		background-position: top right;
		z-index:1;
		padding-top:105px;
		align-items:center;
		justify-content: center;
		flex-direction:column;

		h2 {
			line-height:98px;
			width:700px;
			max-width:700px;
			height:98px;
			margin:0 auto 0 5%;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			span {
				width:700px;
				max-width:700px;
				height:98px;
				background-image:url(../img/heading-gender-sexuality-social-justice.svg);
			}
		}

		article {
			width:700px;
			max-width:700px;
			margin:0 auto 0 5%;
			color:#f5e9ff;
			p {
				max-width:75%;
				font-size:calc(1em + .2vw);
			}
		}
	}
}
/*New Post Flag */
.first-entry header:before {left:0px;}

.post-entry {
	margin:0 auto;
}

.work--sample {
	.ultra-wide, &.ultra-wide {
		max-width:calc(100% + 120px);
		width:calc(100% + 120px);
		margin-left:-60px;
	}
}
