{{ partial "header.html" . }}
<style>
    :root {
    --project-color: #aaa;
    }
</style>
<header class="list-header">
    <div class="bigpad header-text">
        <h1 class="list-title f-900 XL">
            <span class="purple-500 f-900">What am I working on</span> right now?
        </h1>
    </div>
</header>

<section class="list-wrap">
    <div class="shadow-high bg-white now-list-contents">
        {{ range first 1 (where .Data.Pages "Section" "now") }}
        <article class="now post first-entry">

            {{if .Params.emoji}}<div class="emoji XXL">{{ .Params.emoji }}</div>{{end}}

            <header class="post-header">

                <h2 class="XL f-900 post-title">
                    <a href="{{ .Permalink }}">
                        {{ .Title }} <span class="grey-500">{{ .Date.Format "January 2006" }} Update by Sam Killermann</span>
                    </a>
                </h2>
            </header>
            <section class="post-content wrap">{{ .Content }}</section>

        </article>
        {{ end }}

        {{ partial "mailing-list.html" }}
        
        <section id="thens" class="bg-grey-100">
            <div class="carousel">
                <h2 class="vertical-header S serif lh-title">Older Nows (AKA Thens)</h2>
                {{ range first 9 (after 1 ( where .Data.Pages "Section" "now") ) }}
                    {{ partial "card-post.html" . }}
                {{ end }}
            </div>
        </section>
    </div>
</section>
{{ partial "footer.html" . }}
