{{ partial "header.html" . }}
<header class="list-header">
     <h1 class="now-title">What I'm up to right now</a></h1>
</header>
{{ range first 1 (where .Data.Pages "Section" "now") }}
<article class="now post first-entry">
    <header class="post-header">
        {{if .Params.emoji}}<span class="emoji">{{ .Params.emoji }}</span>{{end}}
        <h2 class="post-title">
            <a href="{{ .Permalink }}">
                <span class="date">{{ .Date.Format "January 2006" }}</span>
                {{- .Title -}}
            </a>
        </h2>
    </header>
    <section class="post-content">{{ .Content }}</section>
    <footer class="post-footer">
        <p class="post-meta">
            {{- if or .Params.author .Site.Params.author -}}
            {{ .Params.author | default .Site.Params.author }} · {{ end }}
            <a href="{{ .Permalink }}">Permalink 🔗</a>
        </p>
    </footer>
</article>
{{ end }}
<section id="thens">
{{ range first 9 (after 1 ( where .Data.Pages "Section" "now") ) }}
    <article class="post post-entry list-header">
        <header class="post-header">
            {{if .Params.emoji}}<span class="emoji">{{ .Params.emoji }}</span>{{end}}
            <h2 class="post-title">{{ .Title }}</h2>
        </header>
        <p class="post-summary">{{if isset .Params "blurb"}}{{.Params.blurb}}{{else}}{{ .Summary | plainify | htmlUnescape }}...{{end}}</p>
        <footer class="post-footer">
            <p class="post-meta">
                {{- if or .Params.author .Site.Params.author -}}
                {{ .Date.Format "January 2006" }} ·
                {{ .Params.author | default .Site.Params.author }}
                {{ end }}
            </p>
        </footer>
        <a class="post-link" href="{{ .Permalink }}"></a>
    </article>
{{ end }}
</section>
{{ partial "footer.html" . }}
