
.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af6ee2+0,e479f7+100 */
	background: #af6ee2; /* Old browsers */
	background-attachment: fixed;
	background: -moz-linear-gradient(-25deg, #af6ee2 0%, darken(#af6ee2,5%) 100%); /* FF3.6-7 */
	background: -webkit-linear-gradient(-25deg, #af6ee2 0%,darken(#af6ee2,5%) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(155deg, #af6ee2 0%,darken(#af6ee2,5%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af6ee2', endColorstr='darken(#af6ee2,5%)',GradientType=1 ); /*
	 IE6-9 fallback on horizontal gradient */
}
