/*New Post Flag */
.first-entry header:before {left:0px;}

.post-entry {
	margin:0 auto;
}

.work--sample {
	img.ultra-wide {
		max-width:calc(100% + 120px);
		width:calc(100% + 120px);
		margin-left:-60px;
	}
}
