body,
button,
input,
select,
optgroup,
textarea {
	font-family:var(--sans-serif);
	color: #0d0018;
	line-height:1.5;
	font-size:calc(14px + .5vw);
	text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {line-height:1.1;}

h1, .h1, .post-view .post-title {font-size: calc(2.4em + .6vw);}

h2, .h2 {font-size: calc(1.9em + .5vw);}

h3, .h3 {font-size: calc(1.6em + .4vw);}

h4, .h4 {font-size: 1.45em;}

h5, .h5 {font-size: 1.28em;}

h6, .h6 {font-size: 1.125em;}

p.dropCap:first-letter {
	color: var(--project-color);
	float: left;
	font-family: var(--serif);
	font-size: 3.8em;
	font-weight:600;
	line-height: 1;
	padding-top: .1em;
	padding-right:.2em;
	padding-left: .1em;
}

.serif {
	font-family: var(--serif);
}

.XXL {
	font-size: 3.4em;
}

.XL {
	font-size: 2.6em;
}

.L {
	font-size: 2em;
}

.M {
	font-size: 1.4em;
}

.S {
	font-size: 1em;
}

.XS {
	font-size: .8em;
}

.lh-title {
	line-height: 1;
}

.lh-short {
	line-height: 1.25;
}

.f-900 {
	font-weight: 900;
}
